.game-controls ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.game-controls li {
  width: 70px;
  margin: 0 20px;
  flex-grow: 0;
  flex-shrink: 0;
}

.game-controls-button {
  width: 100%;
  text-align: center;
  padding-top: 70px;
  background-repeat: no-repeat;
  background-size: 64px 64px;
  cursor: pointer;
}

.game-controls-retry {
  composes: game-controls-button;
  background-image: url('/assets/retry.png');
}

.game-controls-shuffle {
  composes: game-controls-button;
  background-image: url('/assets/shuffle.png');
}

.game-controls-left {
  composes: game-controls-button;
  padding-top: 0;
  cursor: default;
}

.game-controls-left div {
  font-size: 3.4em;
}

.game-controls-left-ending {
  color: red;
}