.WordChoices{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.WordChoices li{
  display: inline-block;
}

.WordSquare{
  position: relative;
  margin: auto;
  cursor: pointer;
  display: inline-block;
}

.WordSquare:hover{
  color: purple;
}

.WordSquare.WordStep-done:hover{
  color: black;
}

.WordSquare-word{
  font-size: 2em;
  display: inline-block;
  position: absolute;
  top: 16px;
  left: 25px;
  text-align: center;
  white-space: nowrap;
}

.WordSquare-inline .WordSquare-word{
  font-size: 1.7em;
  top: 14px;
}

.WordSquare-loading{
  margin-top: 4px;
  width: 32px;
  height: 32px;
  background: url('/assets/loading.png') no-repeat;
  background-size: 100%;
  animation: spin 1.5s linear infinite;
}

.WordSquare-question{
  animation: fade 0.5s infinite linear alternate;
  margin-left: 2px;
}

.WordStep{
  display: inline-block;
}

.WordStep-arrow{
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url('/assets/arrow.png') no-repeat;
  background-size: 100%;
  vertical-align: top;
  margin-top: 20px;
}


@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0;}
}