
.message{
  text-align: center;
  font-size: 4em;
  margin-top: 50px;
}

.won-message{
  composes: message;
  color: #033c37;
}

.lost-message{
  composes: message;
  color: red;
}

.message-count{
  font-size: 1.3em;
}
